.place__paragraph {
  display: flex;
  flex-wrap: nowrap;
  max-width: 484px;
  font-size: 18px;
  line-height: 29.34px;
  font-weight: 400;
  margin: 0;
}
  
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place__paragraph {
    max-width: 456px;
  }
}
  
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__paragraph {
    max-width: 352px;
    font-size: 16px;
    line-height: 26.08px;
  }
}
  
@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26.08px;
  }
}
  
.place__paragraph:nth-child(2) {
  margin-top: 26px;
}
  
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place__paragraph:nth-child(2) {
    margin-top: 27px;
  }
}
  
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__paragraph:nth-child(2) {
    margin-top: 25px;
  }
}
  