.cover {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 740px;
  max-width: 1184px;
  margin: auto;
  z-index: 1;
  background-image: url(../../sprint-3-images/cover-trains.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .cover {
    min-height: calc((100vw/100)*62.5);
  }
}
