.lead__caption {
    width: 158px;
    height: 14px;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    margin-top: 8px;
    letter-spacing: 1.5px;
    align-self: flex-start;
  }
  